[Unit]
Description=Monitor Internet and reboot router
After=network-online.target

[Service] 
ExecStart=/usr/bin/python3 -u /home/matt/RPi-Router-Reboot/rpi-internet-monitor.py
WorkingDirectory=/home/matt/RPi-Router-Reboot
StandardOutput=syslog
StandardError=syslog
#StandardOutput=inherit
#StandardError=inherit
Restart=always
#User=matt

SyslogIdentifier=rpi-internet-monitor

[Install]

WantedBy=multi-user.target
